{% extends "layout.twig" %}

{% block content %}
  <section class="container">
    {% if posts %}
      <div class="post-list">
        <h1 class="post-list__h1">Latest Posts</h1>
        <div class="post-list__posts">
          {% for item in posts %}
            <a href="{{ item.url }}" class="post-list__item">
              <figure class="post-list__img">
                <img src="{{ item.img.url }}" alt="{{ item.img.alt }}">
              </figure>
              <div class="post-list__details">
                <h3 class="post-list__category">{{ item.category.name }}</h3>
                <h2 class="post-list__title">{{ item.title }}</h2>
                <div class="post-list__byline">
                  <span class="post-list__author">{{ item.author.name }}</span>
                  <span class="post-list__date">{{ item.date.published }}</span>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="no-posts">
        <h1 class="no-posts__title">Nothing here yet&hellip;</h1>
        <p class="no-posts__desc">No published posts found.</p>
      </div>
    {% endif %}
  </section>
{% endblock %}
